<h1><%- title %></h1>
<%- messages() %>

<div class="form">
    <div class="boxform">
        <form class="login-form" action="/account/login" method="post">
            <label>Email:<input type="email" name="account_email" required autocomplete="email username" value="<%= locals.account_email %>"></label>
            <label>Password:<input type="password" name="account_password" id="password" required autocomplete="current-password"><button class="reveal-button active" id="passwordHide" type="button">hide password</button></label>
            <input type="submit" value="LOGIN">
        </form>
        <div>
            <span>No account? <a href="/account/register">Sign up</a></span>
        </div>
    </div>
</div>
