<h1><%- title %></h1>
<%- messages() %>
<!-- <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %> -->
  <div class="grid-from">
      <div class="form">
        <div class="boxform">
          <form class="login-form" action="/inv/addClassification" method="post"> <%# The form must send all data... %>
            <label>Classification name:<input type="text" name="classification_name" required value="<%= locals.classification_name %>" pattern="[0-9a-zA-Z]+"></label>
            <span class="fine-print">Required. Cannot contain spaces or special characters.</span>
            <input type="submit" value="ADD">
          </form>
        </div>
      </div>
  </div>
                
</form>